*{
padding:0px;
margin:0px;
}

body{
width:100%;
min-height:800px;
height:100%;
}

nav{
width:25%;
min-width:150px;
max-width:250px;
float:left;
height:75%;
}
footer{
height:25%;
position:relativ;
bottom:0px;
}



